@use "../abstracts" as *;
.detailsInfo {
    margin: 15rem 0;
    &__p {
        margin: 2rem 0;
        font-size: 2rem;
        color: $silverDark;
        line-height: 2.8rem;
    }
    &__img {
        margin-top: 5rem;
        width: 100%;
        height: 100%;
        cursor: pointer;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            transition: all 0.5s linear;
            &:hover {
                transform: scale(1.3);
            }
        }
        
    }
    &__right {
        margin-top: 5rem;
        &__block {
            padding: 15rem 5rem;
            &__name {
                color: $black ;
                font-size: 5rem;
                font-weight: 600;
                text-transform: capitalize;
            }
            &__category {
                font-size: 3rem;
                font-weight: 600;
                text-transform: capitalize;
                color: $silverMedium;
            }
        }
    }
    
}