@use "../abstracts" as *;
.detailsInfo {
    margin: 15rem 0;
    &__lightbox {
        @include position(fixed, 0, 0, 0, 0, 100%, 100%);
        background: rgba(0, 0, 0, 0.7);
        z-index: 8;
        @include align(flex, center, center, null);
        flex-direction: column;

        h4 {
            color: $white;
            font-size: 1.8rem;
            margin-bottom: 1rem;
            animation: nameAnimation 0.5s linear;
            @keyframes nameAnimation {
                from {
                    opacity: 0;
                    transform: translateY(-2rem);
                }
                to {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
        &__card {
            width: 45rem;
            height: 45rem;
            background: transparent;
            border-radius: 0.5rem;
            overflow: hidden;

            animation: cardAnimation 0.5s linear;
            @keyframes cardAnimation {
                from {
                    opacity: 0;
                    transform: translateY(-2rem);
                }
                to {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
            &__image {
                width: 45rem;
                max-height: 45rem;
                overflow: hidden;
                image-rendering: pixelated;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    animation: imageAnimation 0.5s linear;
                    @keyframes imageAnimation {
                        from {
                            opacity: 0;
                            transform: scale(0);
                        }
                        to {
                            opacity: 1;
                            transform: scale(1);
                        }
                    }
                }
            }
        }
    }
    &__details {
        display: flex;
    }
    &__p {
        margin: 2rem 0;
        font-size: 2rem;
        color: $silverDark;
        line-height: 2.8rem;
    }
    &__img {
        margin-top: 5rem;
        width: 100%;
        height: 100%;
        cursor: pointer;
        overflow: hidden;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            transition: all 0.5s linear;
            &:hover {
                transform: scale(1.3);
            }
        }
    }
    &__right {
        margin-top: 8rem;
        margin-left: 5rem;
        &__block {
            &__name {
                color: $black;
                font-size: 4rem;

                font-weight: 600;
                text-transform: capitalize;
            }
            &__category {
                font-size: 3rem;
                font-weight: 600;
                text-transform: capitalize;
                color: $silverMedium;
                border-bottom: 1px dotted $silverLight-50;
            }
            &__star {
                margin-top: 3.5rem;
            }
            &__cart {
                text-transform: capitalize;
                width: 50%;
                margin-top: 10rem;
                display: flex;
                align-items: center;
                font-size: 1.7rem;
                font-weight: 400;
                justify-content: space-around;
                border: 1px solid $black;
                height: 5.5rem;
                color: $black;
                background: $white;
                transition: all 0.5s linear;
                cursor: pointer;
                &:hover {
                    color: $white;
                    background: $black;
                }
            }
            &__color {
                margin-top: 3rem;
                font-size: 3rem;
                font-weight: 500;
            }
            &__size {
                margin-top: 3rem;
                font-size: 2rem;
                font-weight: 400;
            }
            &__sizeDetail {
                margin-top: 2rem;
                font-size: 2rem;
                font-weight: bold;
                border-bottom: 1px dotted $silverLight-50;
                cursor: pointer;
            }
        }
    }
    &__reviewProduct {
        margin-top: 16rem 0;
        background: $silverlight-40;
        padding: 13rem 0;
        transform: skewY(-5deg);
    }
}
