@use "../abstracts" as *;

.menu {
    width: 100%;
    &__contents {
        display: flex;
        width: 100%;
        li {
            list-style: none;
            a {
                font-size: 2rem;
                color: $orange !important;
                font-weight: 700;
                text-decoration: none;
                padding: 1rem 2rem;
                cursor: pointer;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    width: 70%;
                    transform: scaleX(0);
                    height: 2px;
                    bottom: 0;
                    left: 1.3rem;
                    top: 3.5rem;
                    background-color: $orange;
                    transform-origin: bottom right;
                    transition: transform 0.25s ease-in;
                }

                
            }
        }
    }
}
