@use "../abstracts" as *;

.services {
    margin: 8rem 0;
    background: $white;
    padding: 13rem;
    &__contents {
        &__container {
            @include align(flex, null, center, null)
        }
    }
    &__left {
        cursor: pointer;
        margin-right: 10rem;
        &__heading {
            font-size: 3.5rem;
            font-weight: 900;
            line-height:4rem;
            background: linear-gradient(to right, #f7b42c 0%, #fc575e 74%);
            color: transparent;
            background-clip: text;
            text-transform: capitalize;
        }
        &__paragraph {
            margin-top: 3.6rem;
            font-size: 2rem;
            line-height: 2.7rem;
            font-weight: 500;
        }
    }
    &__list {
        margin-bottom: .5rem;
        &__heading {
            background: $silverlight-40;
            font-size: 1.6rem;
            font-weight: 700;
            cursor: pointer;
            padding: 1.5rem;
            @include align(flex,null , cemter, null);
            text-transform: capitalize;
            &--active {
                color: $orange;
            }
            &--normal {
                color: black;
            }
        }
        &__details {
            max-height: 0;
            overflow: hidden;
            font-size: 1.5rem;
            padding-left: 3.5rem;
            padding-right: 3.5rem;
            line-height: 2.3rem;
            font-weight: 600;
            &--show {
                max-height: 50rem;
                padding-bottom: 1.5rem;
                padding-top: 1.5rem;
                transition: max-height 0.8s linear;
                animation: detailsAnimation 0.8s ease-in;
                @keyframes detailsAnimation {
                    from {
                        opacity: 0;
                        transform: translateY(-1rem);
                    }
                    to {
                        opacity: 1;
                        transform: translateY(0rem);
                    }
                }
            }
        }
    }
    &__rotate {
        transform: rotate(90deg);
        transition: transform 0.5s linear;
    }
    &__back {
        transform: rotate(0deg);
        transition: transform 0.5s linear;
    }
}