@use "../abstracts" as *;

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.pr {
    position: relative;
}

.group {
    margin-bottom: 1.3rem;
    display: flex;
    justify-content: space-between;
    &__control {
        @include control(5rem, 1rem, 1rem, $black);
    }
    span {
        font-size: 1.5rem;

        cursor: pointer;
    }
}

::placeholder {
    color: $black;
    font-size: 1.6rem;
}

.p-15 {
    padding: 0.5rem 0.5rem;
}

.mr-15 {
    margin-right: -1.5rem;
}

.ml-15 {
    margin-left: -1.5rem;
}
