$white: #fff;
$black: #000;
$silver: #7f8c8d;
$blackDark: #1c1d1f;
$silverlight: #aaa;
$silverDark: #777;
$silverLight-50: #d4cfcf; 
$silverlight-40: #f6f6fb;
$silverlight-45: #e2e4eb;
$silverMedium: #979c9f;
$orange: #ff7400;
$green: #43D399;


